<!DOCTYPE html>
<html ng-app="gemStore">
<head>
  <title>Futebol</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag		 'bootstrap.min' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="StoreController as store">
  
<% if flash[:error] %>
  <div class='alert alert-danger text-center'>
    <%= flash[:error] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
